/* I use this file to style index.html file. */
header {
  background-color: rgb(32, 32, 32);
  margin: 1%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 6.5% 0;
  align-items: center;
}

#project-title {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  font-weight: 550;
  font-size: 18px;
  margin-left: 2.5%;
}

#menu {
  margin-right: 2.5%;
  display: flex;
  width: 52%;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.section-link {
  color: white;
  border-right: 1px solid white;
  padding: 0 5% 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
}

.last { border: none; }

h1 {
  color: white;
  background-color: black;
  margin: 0;
  padding: 10% 0;
  font-family: 'Staatliches', cursive, sans-serif;
  background-image: url(../statics/images/triangle.png);
  background-repeat: no-repeat;
  background-position: 49% 100%;
  background-size: 9% 14%;
  margin-bottom: 0;
  text-align: center;
}

.books { margin-top: 5%; }

.book-card {
  display: flex;
  justify-content: space-between;
  padding: 10% 0;
  align-items: center;
}

.book-card p {
  max-width: 40%;
  color: #541f1f;
  font-family: monospace, cursive, sans-serif;
  margin-left: 5%;
  font-weight: 550;
  line-height: 1.6;
}

.book-card hr { display: none; }

.remove {
  margin-right: 5%;
  min-width: 30%;
  min-height: 40%;
}

.sep {
  width: 20%;
  color: black;
  background-color: black;
}

.form-wrapper {
  background-color: rgb(61, 73, 89);
  padding-bottom: 25%;
}

h2 {
  color: #8a8abd;
  text-align: center;
  padding-top: 10%;
  font-family: 'Staatliches', cursive, sans-serif;
}

.wrapper-books {
  width: 80%;
  height: 50%;
  margin: 20% 10% 0 10%;
  border: 1px solid rgb(102, 114, 129);
}

.input-books {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}

#title-book {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: rgb(159, 171, 183);
  border: none;
}

#author-book {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: rgb(159, 171, 183);
  border: none;
}

#title-book::placeholder {
  background-image: url(../statics/images/book-icon.png);
  background-repeat: no-repeat;
  background-size: 30px 25px;
  background-position: 5% 20%;
  font-family: monospace, sans-serif;
  color: white;
  line-height: 1.6;
  font-size: 18px;
}

#author-book::placeholder {
  background-image: url(../statics/images/auth-icon.png);
  background-repeat: no-repeat;
  background-size: 30px 25px;
  background-position: 5% 20%;
  font-family: monospace, sans-serif;
  color: white;
  line-height: 1.6;
  font-size: 18px;
}

.add-book {
  background-color: rgb(63, 100, 158);
  border: none;
  color: white;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40%;
  font-family: monospace, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  header { height: 100px; }

  nav {
    padding: 0;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #menu { width: 15%; }

  h1 {
    width: 80%;
    padding: 5% 0;
    margin-left: 10%;
    margin-top: 5%;
  }

  .book-card {
    padding: 2.5% 0;
    width: 60%;
    margin-left: 20%;
  }

  .form-wrapper {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 10%;
    margin-bottom: 5%;
  }

  h2 { padding-top: 5%; }

  .wrapper-books { margin-top: 0; }

  .add-book { width: 25%; }

  .sep { margin-top: 2%; }

  .books { margin-bottom: 0; }

  #title-book::placeholder { background-position: 2.5% 5%; }
  #author-book::placeholder { background-position: 2.5% 5%; }
}
